footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: white;
    height: 10vh;
    color: #0077BD;
}

.footer_box{
    margin-left: 10%;
    margin-right: 15%;
}